@using KaptchaNET.Services.CaptchaGenerator
@model TestViewModel
@inject ICaptchaGeneratorService generator
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1 class="display-4">Captcha</h1>
            <form asp-area="" asp-controller="Home" asp-action="Test">
                <h4>Enter the solution</h4>
                @{
                    if (ViewData["TestValue"] != null)
                    {
                        <h3>Value: <b style="color: green;">@ViewData["TestValue"]</b></h3>
                    }
                }
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="card">
                    <div class="card-body">
                        <captcha width="400" class="" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="TestValue"></label>
                    <input asp-for="TestValue" class="form-control" />
                    <span asp-validation-for="TestValue" class="text-danger"></span>
                </div>
                <button class="btn btn-primary" type="submit">Test it</button>
            </form>
        </div>

        <div class="col-md-6 col-sm-12">
            <h1 class="display-4">Link Captcha</h1>
            <form asp-area="" asp-controller="Home" asp-action="Test">
                <h4>Enter the solution</h4>
                @{
                    if (ViewData["TestValueLink"] != null)
                    {
                        <h3>Value: <b style="color: green;">@ViewData["TestValueLink"]</b></h3>
                    }
                }
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="card">
                    <div class="card-body">
                        @{
                            var captcha = await generator.CreateCaptchaAsync();
                        }
                        <captcha width="400" class="" asp-area="" asp-controller="Home" asp-action="GetCaptcha" captcha-id="@captcha.Id" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="TestValueLink"></label>
                    <input asp-for="TestValueLink" class="form-control" />
                    <span asp-validation-for="TestValueLink" class="text-danger"></span>
                </div>
                <button class="btn btn-primary" type="submit">Test it</button>
            </form>
        </div>
    </div>
</div>